﻿doctype
html
    head
        title Real-Time Web Application: Admin page
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
        script(src='/javascripts/admin.js')
        script(src='/socket.io/socket.io.js')
    body
        .container
            form.form-horizontal(role='form')
                #admin_login
                    .form-group
                        .input-group
                            span.input-group-addon Password
                            input#password.form-control(type='password' style='background-color:#CEF6F5', placeholder="Enter Password")
                            span.input-group-btn
                                button#loginbutton.btn.btn-default(type='button') Login
                #admin_control(style='visibility: hidden')
                    .form-group
                        .col-md-6
                            .input-group
                                span.input-group-addon Maximum number of groups
                                input#maxg.form-control(style='background-color:#CEF6F5', placeholder="Enter max. number of groups")
                                span.input-group-btn 
                                    button#mgroupbutton.btn.btn-default(type='button') Enter
                        .col-md-6
                            .input-group
                                span.input-group-addon Maximum number of members
                                input#maxu.form-control(style='background-color:#CEF6F5', placeholder="Enter max number of members")
                                span.input-group-btn 
                                    button#muserbutton.btn.btn-default(type='button') Enter
                    .form-group
                        .col-md-6
                            label Group List
                            select#groups.form-control(size='5', multiple, onchange="window.open(this.options[this.selectedIndex].value")
                        .col-md-6
                            label Members List
                            select#users.form-control(size='5', multiple, onchange="window.open(this.options[this.selectedIndex].value")
                    .form-group
                        .col-md-6
                            .input-group
                                span.input-group-btn 
                                    button#remove_group_btn.btn.btn-default(type='button') Remove Group
                        .col-md-6
                            .input-group
                                span.input-group-btn 
                                    button#remove_user_btn.btn.btn-default(type='button') Remove User
