doctype
html
    head
        title Real-Time Web Application: Web chat
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
        script(src='/javascripts/chat_client.js')
        script(src='/socket.io/socket.io.js')
        script(type='text/javascript', src='http://js.nicedit.com/nicEdit-latest.js')
        script(src="//tinymce.cachefly.net/4.1/tinymce.min.js")
        <script>tinymce.init({mode : "textareas",editor_selector : "mceEditor",menubar:false,statusbar: false,plugins: "textcolor, emoticons" ,toolbar: ["emoticons | forecolor | backcolor | bold italic", "fontselect | fontsizeselect"],toolbar_items_size : 'small',force_br_newlines : false,force_p_newlines : false,forced_root_block : '',});</script>
    body(onresize='myFunction()', style='background-color: #A4A4A4')
        .container
            form.form-horizontal(role='form')
                .form-group
                    #chatbox.form-control(style='background-color:#FCF5D8; margin: 20px 0 0 0; height: 200px; border: solid 1px #999; overflow-y: scroll;')
                .form-group
                    .col-md-4
                        .input-group
                            span.input-group-addon Username
                            input#username.form-control(style='background-color:#CEF6F5', placeholder="Enter Username")
                    .col-md-4
                        .input-group
                            span.input-group-addon History
                            input#history.form-control(style='background-color:#CEF6F5', placeholder="Enter \"All\" for all messages")
                            span.input-group-btn
                                button#historybutton.btn.btn-default(type='button') Set Histroy
                    .col-md-4
                        .input-group
                            span.input-group-addon Group
                            input#group.form-control(style='background-color:#CEF6F5', placeholder="Enter Group name")
                .form-group
                    textarea#message.mceEditor
            .row
                .col-md-2
                    button#sendbutton.btn.btn-block.btn-lg(type='button')
                        span.glyphicon.glyphicon-send(aria-hidden='true')
                        |   Send
                .col-md-2
                    button#evictbutton.btn.btn-block.btn-lg(type='button')
                        span.glyphicon.glyphicon-evict(aria-hidden='true')
                        |   Evict
                .col-md-4
                    label Users
                    select#mylist_users.form-control()
                        option(value='Default') All
                .col-md-2
                    button#leavebutton.btn.btn-block.btn-lg(type='button')
                        span.glyphicon.glyphicon-log-in(aria-hidden='true')
                        |   Leave
                .col-md-2
                    button#joinbutton.btn.btn-block.btn-lg(type='button')
                        span.glyphicon.glyphicon-log-in(aria-hidden='true')
                        |   Create
            .row
                .col-md-4
                    label Incoming message notification options
                    select#mylist_incoming.form-control
                        option(value='NoSound') No Sound
                        option(value='Droplet') Droplet
                        option(value='Bells') Bells
                        option(value='Pizzicato') Pizzicato
                        option(value='Springtime') Springtime
                        option(value='Areyoukidding') Are you kidding
                        option(value='Takethis') Take this
                .col-md-4
                    label Groups
                    select#mylist_groups.form-control()   //- onchange='leaveChange()' ????
                        option(value='Default') Create New Group
                .col-md-4
                    label Outgoing message notification options
                    select#mylist_outgoing.form-control
                        option(value='NoSound') No Sound
                        option(value='Droplet') Droplet
                        option(value='Bells') Bells
                        option(value='Pizzicato') Pizzicato
                        option(value='Springtime') Springtime
                        option(value='Areyoukidding') Are you kidding
                        option(value='Takethis') Take this
    script.
        function myFunction() {
            var height = window.innerHeight;
            var width = window.innerWidth;
            var heightMessage1 = Math.floor(height/5);
            var widthMessage = Math.floor(width-50);
            var heightBtn = Math.floor(height*2/20);
            var widthBtn = heightBtn*2;        
            var heightChatBox = Math.floor(height/4);
            if (widthMessage <= 0) {
                widthMessage = width;
            }
            document.getElementById('message'+'_ifr').style.height= heightMessage1 + "px";
            document.getElementById('chatbox').style.height= heightChatBox + "px";        
            document.getElementById('sendbutton').style.height= heightBtn + "px";
            document.getElementById('joinbutton').style.height= heightBtn + "px";
            document.getElementById('evictbutton').style.height= heightBtn + "px";
            document.getElementById('leavebutton').style.height= heightBtn + "px";

        }
    script.
        function onLoadFuction() {
            var height = window.innerHeight;
            var width = window.innerWidth;
            var heightMessage = Math.floor(height/5);
            var heightBtn = Math.floor(height*2/20);
            var widthBtn = heightBtn*2;
            var widthMessage = Math.floor(width - 100);
            var heightChatBox = Math.floor(height/4);
            if (widthMessage <= 0) {
                widthMessage = width;
            }
            document.getElementById('message'+'_ifr').style.height= heightMessage + "px";
            document.getElementById('chatbox').style.height= heightChatBox + "px";        
            document.getElementById('sendbutton').style.height= heightBtn + "px";
            document.getElementById('joinbutton').style.height= heightBtn + "px";
            document.getElementById('evictbutton').style.height= heightBtn + "px";
            document.getElementById('leavebutton').style.height= heightBtn + "px";
        }
